{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login para Acesso aos Dados de imunização :</h1>
<form method="post" action="{% url 'core:user_login' %}">
          {% csrf_token %}
          <label for="username">Usuário:</label>
          <input type="text" name="username" placeholder="Username">
<label for="password">Senha:</label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Login">
</form>
</div>
  </div>
{% endblock %}